.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 56px 0px 0px 0px;
  }
  @media screen and (max-width: 1024px) {
    .lead {
      padding-top: 48px;
      max-width: 928px;
    }
  }
  @media screen and (max-width: 768px) {
    .lead {
      max-width: 768px;
      padding-top: 48px;
    }
  }