.cover__title {
  color: white;
  margin: 0;
  max-width: 560px;
  text-align: center;
  z-index: 2;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}
@media screen and (max-width: 510px) {
  .cover__title {
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
