.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 1fr;
  gap: 40px;
  margin: 0;
  position: relative;
  padding-bottom: 80px;
}
.place:last-child {
  padding-bottom: 0px;
}
@media screen and (max-width: 1080px) {
  .place {
    grid-template-columns: 440px 1fr;
  }
}
@media screen and (max-width: 850px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 320px;
    grid-template-rows: repeat(4, auto);
    padding-bottom: 50px;
    justify-content: center;
  }
}
