.place__url-heading {
  color: #aaaaaa;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  max-width: 100%;
  letter-spacing: 2px;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 490px) {
  .place__url-heading {
    padding-left: 16px;
    grid-row-start: 2;
  }
}